/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: $defaultFont;
  font-weight: $normalWeight;
  color: $fontColor;
  background-color: rgba($secondaryColor, 0.5);
}

#headerWrapper {
  background-color: $accentColor;
  //color: $fontColor;
}
header {
  display: flex;
  align-items: flex-end;
  padding: .5rem $gutter;
  gap: 8px;
  figure {
    padding: 0;
    margin: 0;
  }
span {
        font-size: 3rem;
        font-weight: $normalWeight;
        color: white;
        padding:2rem 0rem;
       
    }
}
#navWrapper {
  background-color: rgba($accentColor, 0.5);
}



#myButton::before {
  content: "\2630";
}
//style the button
#myButton {
  border: none;
  background: none;
  color: white;
  font-size: 2rem;
  padding: 0;
  width: 44px;
  height: 44px;
  font-weight: $lightWeight;
  cursor: pointer;
}
ul.menuLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  li a {
    color: $fontColor;
    display: block;
    padding: .75rem $gutter;
    text-decoration: none;
  }
  li.active a {
    background-color: rgba(255,255,255,0.2);
  }
}

ul.open.menuLinks {
  display: block;
}
#myButton.open::before {
  content: "x";
}

//main section
#mainWrapper{
  h1{
  padding: 0rem 1.5rem;
  margin-top: .5rem;
  margin-bottom: 0;
  font-size: 3rem;
}
}
div.allcards{
  padding: 0 $gutter;
section {
  background-color: white;
  border: 1px solid $greyColor;
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem 0;
  h2, p, img {
    margin: 0;
    padding: .5rem $gutter;
  }

  h2 {
    background-color: $primaryColor;
    font-size: 1.5rem;
    color: white;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
    display: block;
  }
  img.e2e {
    padding: 0;
  }
  p {
    font-style: italic;
  }
  a {
    display: block;
    background-color: $primaryColor;
    padding: .75rem;
    text-align: center;
    margin: 0 3rem 1rem 3rem;
    border-radius: 8px;
    color: white;
    text-decoration: none;

  }

}// end section


}// end allcards




// begin the footer
#footerWrapper {
    background-color: $accentColor;
}
footer{
    padding: 0.5rem $gutter;
    section {
            ion-icon {
        color: white;
      
      }

    }

    section.contact{
      p{
        font-size: 1.3rem;
        margin: .5rem;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
      ion-icon {
        color: white;
        padding-right: 5px;
      }
    }//end of contact

    section.social{
      display: flex;
      justify-content: center;
      a {
        display: block;
       // border: solid 1px #666;
        font-size: 2rem;
        margin: .5rem;
        padding: .5rem;
        
      }
      a:hover {
        background-color: rgba($secondaryColor, 0.5);
      }

    }//end of social

    section.location{
      font-size: 1.3rem;
    }//end of location


    p.legal{
        margin: 0;
        font-weight: $lightWeight;
        text-align: center;
    }
}