$primaryColor: #1297A6; 
$secondaryColor: #F2C879;
$accentColor: #A67563;
$greyColor: #ccc;
$fontColor: #333;

$defaultFont:"Story Script", sans-serif;
$lightWeight:200;
$normalWeight:400;
$boldWeight:700;

$gutter: 16px;